body {
    background-color: lightblue;
    color:black;
font-family: Arial, sans-serif;
}
header{
    background-color: cadetblue;
    color:white;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
}
h2 {
    color:black;
}
p{
    font-size: 18px;
    line-height: 1.6;
}
main {
    width: 80%;
    margin:auto;
}
section {
    background-color: aliceblue;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}
img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}
figcaption {
    text-align:  center;
    font-size: 14px;
    color:black;
    margin-top: 8px;
}
